# requirements.txt
pandas
numpy
scikit-learn
matplotlib
seaborn
folium
prophet # Facebook Prophet library for time series forecasting
xgboost # XGBoost library for gradient boosting
scipy
streamlit # For building the interactive web dashboard
streamlit-folium # For embedding Folium maps in Streamlit apps
imblearn # imbalanced-learn library, used for SMOTE in theft detection
plotly # For interactive plots, especially used by plotly.express